body {
  background-color: var(--Primary-color-background);
  color: var(--Primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px;
  width: 1200px;
  /* outline: 2px solid tomato; */
}
h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}
/* Основний колір тексту (заголовки, посилання меню) #212121 */
/* Вторинний колір текту (параграфи, контакти) #757575 */
/* Акцент       #2196F3 */
/* Акцент ховер #188CE8 */
/* Білий текст #FFFFFF */
/* Колір логотиу чорний #000000 */
/* Основний колір фону #F5F5F5 */
/* Вторинний колір фону  #F5F4FA */
/* Фон Hero #2F303A */
/* Колір номеру телефону і мейл внизу  rgba(255, 255, 255, 0.6) */
:root {
  --primary-text-color: #212121;
  --paragraph-text-color: #757575;
  --accent-color: #2196f3;
  --white-text-color: #ffffff;
  --black-color-logo: #000000;
  --primary-color-background: #f5f5f5;
  --secondary-color-background: #f5f4fa;
  --hero-footer-color-background: #2f303a;
  --mail-footer-color: rgba(255, 255, 255, 0.6);
  --accent-hover-color: #188ce8;
}

/* ЛОГО */
.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-black {
  color: var(--black-color-logo);
}
/* МЕНЮ */
.main-nav {
  display: flex;
  align-items: center;
}
.page-header {
  border-bottom: 1px solid #ececec;
  padding-top: 25px;
  padding-bottom: 25px;
}
.site-nav .link {
  color: var(--Primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: block;
}
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav .item {
  margin-right: 50px;
}
.site-nav .item:last-child {
  margin-right: 0px;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
/* КОНТАКТИ НАВІГАЦІЯ */

.contacts .text {
  color: var(--paragraph-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts .item + .item {
  margin-left: 50px;
}
.link.current-page {
  color: var(--accent-color);
}

/* СЕКЦІЯ ХІРО */
.hero {
  background-color: var(--hero-footer-color-background);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  color: var(--white-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-bottom: 30px;
}

.button-hero {
  display: inline-block;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  font-family: inherit;

  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  min-width: 216px;
  height: 50px;
}
.button-hero:hover,
.button-hero:focus {
  background-color: var(--accent-hover-color);
}
.hero-title-button {
  margin-bottom: 200px;
}
/* ПЕРЕВАГИ */
.title-benefits {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 10px;
}
.section-benefits p {
  font-size: 14px;
  line-height: 1.71;
  min-width: 270px;
  min-height: 48px;
}
.section-benefits {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* .section-benefits .list {
  text-align: ; */

.benefits-list {
  display: flex;
  gap: 30px;
}
/* НАПРЯМКИ ДІЯЛЬНОСТІ*/
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
  text-align: center;
}
.directions-list {
  display: flex;
  gap: 30px;
}
.section {
  padding-bottom: 94px;
}
.section img {
  display: block;
}
/* ФОН КОМАНДА */

.section-team .list {
  background-color: var(--secondary-color-background);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

.teamtext {
  padding: 30px 50px 30px 50px;
}
.title-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}
.section-team p {
  font-size: 16px;
  line-height: 1.19;
}
.section-team {
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-list {
  display: flex;
  gap: 30px;
}
.image-team {
  display: block;
}
/* ПАРАГРАФИ */

.main p {
  color: var(--paragraph-text-color);
}

/* КОНТАКТИ ФУТЕР */
.page-footer {
  background-color: var(--hero-footer-color-background);
}
.marginlogo {
  margin-bottom: 20px;
  display: inline-block;
}
.logo-white {
  color: var(--white-text-color);
}
.whitetext {
  color: var(--white-text-color);

  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  display: inline-block;
  margin-bottom: 9px;
}

.whitetext:hover,
.whitetext:focus {
  color: var(--accent-color);
}
.contacts-footer .text {
  color: rgba(255, 255, 255, 0.6);

  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  display: inline-block;
  margin-bottom: 9px;
}
.contacts-footer .last {
  margin-bottom: 0px;
}
.contacts-footer .text:hover,
.contacts-footer .text:focus {
  color: var(--accent-color);
}
.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
/* ПОРТФОЛІО СТОРІНКА */
/* КНОПКИ */
.button-filter {
  color: var(--primary-text-color);
  background-color: var(--secondary-color-background);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  font-family: inherit;
  padding: 6px 22px;
  border: 2px solid transparent;
  border-radius: 4px;
}
.button-filter:hover,
.button-filter:focus {
  color: var(--primary-text-color);
  border: 2px solid var(--accent-color);
}

.button-filter:active {
  background-color: var(--accent-color);
  color: var(--white-text-color);
}
/* Портфоліо  */

.section-portfolio h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}
.section-portfolio p {
  font-size: 16px;
  line-height: 1.87;
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list .list {
  margin-right: 8px;
}
.filter-list .list:last-child {
  margin-right: 0px;
}
.portfolio-all {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-item {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-item .list {
  background: #ffffff;
  border: 1px solid #eeeeee;
  width: 370px;
}

.item-text {
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
}
